* {
    margin: 0;
    padding: 0;
}


img {
    width: 250px;
    align-items: center;
}

.foot-logo {
    width: 400;
}


nav.header {
    color:#ffffff;
    min-height: 110vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 15, 20, 0.6), rgba(4, 10, 20, 0.6)), url("../images/hero.gif");
    background-size: cover;
    background-position: center;
}


h1 {
    display: inline-flex;
    position: absolute;
    right: 200px;
    top: 100px;
}



.head-logo {
    height: 200px;
    width: auto;
}

.head-text {
    font-size: 60px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
    position: relative;
    top: 65px;
    left: 15px;
    color: #3393FF;
}

.menu {
    position: relative;
    top: 500px;
    font-size: 26px;
    font-weight: 800;
    color: rgb(71, 43, 43);
    font-family: 'Julius Sans One', sans-serif;
    width: 400px;
    
}

a img {
    border-radius: 15px;
    height: 400px !important;
    width: 250px !important;
}


.carousel {
    margin: -30px 0px 0px 0px;
    background-image: linear-gradient(rgba(4, 15, 20, 0.6), rgba(4, 10, 20, 0.6)), url('../images/High_resolution_wallpaper_background_ID_77700692958.jpg');
    background-size: cover;
    background-position: center;
    height: 700px !important;
}
